.counterBtn {
    border-radius: 50%;
    font-size: 13px;
    /* padding: 1px 5px; */
}

div.accordion{
    border-radius: 0.5rem;

    margin-bottom: 1rem;
    -webkit-box-shadow: 2px 5px 5px -1px rgba(176,176,176,1);
    -moz-box-shadow: 2px 5px 5px -1px rgba(176,176,176,1);
    box-shadow: 2px 5px 5px -1px rgba(176,176,176,1);

    div.card{
        border-radius: 0.5rem;
        border-style: none;
    }
}

div.card-header{
    padding: 0.4rem 0rem;
}
div.col-9{
    padding: 0.5rem 0.5rem;
}


div.middleRow{
    padding: 0px 0px 0px 0.5rem;
}

.counter {
    display: flex;
    align-items: center;
}