.login-container {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 10rem;
    height: 10rem;
    background-color: white;
    align-self: center;
    margin: 1.8rem 0;
}

.welcome-msg {
    text-align: center;
    margin: 2.7rem 0;
    color: var(--color-font-light);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.auth-buttons {
    align-self: center;
    width: 90%;

    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.register {
    width: 100%;
    margin-top: 1rem;
}

.legal {
    margin: 1.8rem 0;
    align-self: center;
}

.legal > * {
    color: var(--color-font-medium);
}

.legal > *:focus {
    color: var(--color-font-light);
}