.page-title {
    padding: 2.5rem;
    /* background-color: var(--color-main-background); */
    background-color: #fff;
    margin-top: 40px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
    width: 100%;
}