.form-input {
    border: 1px solid #fff;
    background-color: transparent;
    margin-bottom: 1rem;
    padding: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 50px;
    
    color: var(--color-font-light);
    min-width: 100%;
}

.form-input::placeholder {
    color: #c9c9c9;
}

.form-input:focus {
    outline: none;
}

.form-input:focus::placeholder {
    color: var(--color-font-light);
}