.button {
    color: var(--color-font-light);
    border: none;
    padding: 1.2rem 0;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 1rem;
}

.button:focus {
    box-shadow: #facc4480 0px 0px 10px;
    outline: none;
}

.submit-btn {
    background-color: var(--color-submit-button);
}

.yellow-btn {
    background-color: var(--color-yellow-button);
}

.cancel-btn {
    background-color: var(--color-cancel-button);
}

.red-btn {
    margin-top: 2px;
    margin-bottom:  2px;
    background-color: var(--color-red-button);
}