.user-info-container {
    color: var(--color-font-light);
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.list {
    margin: 0px;
}

.item {
    display: flex;
    list-style: none;
    border: 1px solid #fff;
    margin-bottom: 1rem;
    padding: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 50px;
}

.item > input {
    background-color: transparent;
    border: none;
    color: #fff;
    margin: -1px 0 -1px 5px;
    width: 100%;
}

.item > input:focus {
    outline: none;
    border-bottom: 1px solid #fff;;
}

.select-category {
    background-color: transparent;
    margin-left: 5px;
    color: #fff;
    border: none;
}

.select-category:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

