.user-info-container {
    color: var(--color-font-light);
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.list {
    margin: 0px;
    color: var(--color-font-dark);
}

.item {
    display: flex;
    list-style: none;
    border: 1px solid #fff;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 50px;
}

.item > input {
    background-color: transparent;
    border: none;
    color: var(--color-font-dark);
    margin: -1px 0 -1px 5px;
    width: 100%;
}

.item > input:focus {
    outline: none;
    border-bottom: 1px solid var(--color-font-dark);
}

.select-category {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    border-radius: 50px;
    border: none;
    color: var(--color-font-dark);
    background-color: transparent;
}

.select-category:focus {
    outline: none;
}

.form-category-label {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    color: var(--color-font-dark);
    display: flex;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 50px;
    margin: 0;
    width: 100%;
}

.form-category-label:after {
    content: '\2228';
    pointer-events: none;
    height: 0;
    font-family: monospace;
    font-size: 2rem;
    transform: scaleY(0.6);
}

.logout-button {
    margin-bottom: 75px;
}