:root {
  --color-submit-button: #9CBB49;
  --color-yellow-button: #FACC44;
  --color-cancel-button: #6d6d6d;
  --color-red-button: #ff8282;
  --color-font-light: #fff;
  --color-font-medium: #B1B1B1;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  font-size: 16px;

}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

// change the theme
$theme-colors: (
    "primary": #facd2a,
    "danger": #eb0f0f,
    "secondary": #9dba51,
    "light": #f8e6a9,
    "dark": #626262,
);


#root{
  min-height: 100%;
  background-color: black;
}

#rootcontainer{
  min-height: 100vh;
  //background-color: black;
}
html,body{
  //background-color: #626262;
  min-height: 100%;
  background-color: black;
}

div.container {
    max-width: 500px;
    min-height: 100%;
    background-color: #626262;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
