:root {
    --color-submit-button: #FACC44;
    --color-cancel-button: #6d6d6d;
    --color-font-light: #fff;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// change the theme
$theme-colors: (
    "primary": #facd2a,
    "danger": #eb0f0f,
    "secondary": #9dba51,
    "light": #f8e6a9,
    "dark": #626262,
);


#root{
  height: 100%;
  background-color: black;
}
html,body{
  height: 100%;
}

div.container {
    max-width: 500px;
    min-height: 100%;
    background-color: #626262;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
