.container-fluid.container-fluid {
    padding: 0 0.1rem 0 0.1rem;
}

.MuiTabs-flexContainer {
    justify-content: space-around;
    padding-bottom: 1rem;
}

.MuiTabs-flexContainer > .on {
    border-bottom: 1px solid green;

}



.MuiTab-wrapper:hover {
    border-bottom: 1px solid green;
}

