.page-button {
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-font-dark);
    border: none;
}

.page-button:not(:first-child) {
    margin-left: 1rem;
}

.page-button:focus {
    outline: none;
}

.page-button-active {
    background-color: #616161;
    color: var(--color-font-light);
}