.navrow {
    width: 100%;
    border-top: 1px solid;
}

nav.navbar {
	padding: 0;
    div.container {
        div.row {
            margin: 0;
        }
    }
}

.navItem {
    font-size: 0.8em;
    text-align: center;
    p {
        color: #facd2a;
        margin-bottom: 0px;
    }
}