.navrow {
  width: 100%;
  border-top: 1px solid;
}

nav.navbar {
  background-color: #626262;

  //width: inherit;
  //position: fixed;
  //margin: 0;
  div.container{
    //margin: 0;
    padding: 0;
    div.row {
      margin:0;
    }
  }
}
.navItem {
  font-size: 0.8em;
  text-align: center;
  p{
    color: #FACD2A;
    margin-bottom: 0px;
  }
}